version: '3.1'

networks:
  flong-network:
    external: false

volumes:
  mariadb:
    driver: local

services:
  flong_server:
    image: flong_server:latest
    stdin_open: true
    tty: true
    hostname: flong_server
    restart: "no"
    volumes:
      - /etc/localtime:/etc/localtime
      - ./src:/app/src:ro
      - ./settings:/app/settings:ro
      - ./index.js:/app/index.js:ro
    networks:
      - flong-network
    logging:
      options:
        max-size: 50m

  mariadb:
    image: mariadb:10.7
    hostname: mariadb
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime
      - ./mariadb/initdb.d:/docker-entrypoint-initdb.d
      - ./mariadb/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: D6yeCWD
    ports:
      - "3306:3306"
    networks:
      - flong-network
    logging:
      options:
        max-size: 50m